<div class="flex flex-auto">

    <form  [formGroup]="autoPartForm" >

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4">

            <div class="flex items-center">
                <!-- Close button -->
                <button
                    mat-icon-button
                    [routerLink]="['../']">
                    <i class="fa-solid fa-hand-back-point-left"></i> <!-- Poner una flecha hacia atrás -->
                </button>
            </div>

        </div>

        <!-- <mat-divider class="mt-6 mb-8"></mat-divider> -->

        <!-- Title -->
        <div>
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                <!-- <mat-label>{{task.type === 'task' ? 'Task title' : 'Section title'}}</mat-label> -->
                <textarea
                    matInput
                    [formControlName]="'title'"
                    [spellcheck]="false"
                    matTextareaAutosize
                    #titleField></textarea>
            </mat-form-field>
        </div>

        <!-- Notes -->
        <div class="mt-8">
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                <mat-label>Notes</mat-label>
                <textarea
                    matInput
                    [formControlName]="'notes'"
                    [spellcheck]="false"
                    matTextareaAutosize></textarea>
            </mat-form-field>
        </div>

    </form>

</div>
